fastapi
uvicorn
scikit-learn
pandas
numpy
psycopg2-binary
SQLAlchemy
pydantic
pytest
python-dotenv
alembic

torch
tqdm

fastapi
uvicorn
sqlalchemy
alembic
pydantic-settings
httpx
pytest
psycopg2-binary
